li {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
  }

  li {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
  }

  h1 {
    font-size: 80px;
    text-align: center;
  }
  p {
    font-size: 20px;
  }
  html{
    background-color: aqua;
  }

  .shopitems {
    max-width: 70%;
  }
  .gridc1{
    font-size: 20px;
    background-color: crimson;
  }
  .gridc2{
    font-size: 20px;
    background-color: yellow;
  }
  .gridc3{
    font-size: 20px;
    background-color: violet;
  }
  .gridc4{
    font-size: 20px;
    background-color: chartreuse;
  }
  .gridc5{
    font-size: 20px;
    background-color: tomato;
  }
  .gridc6{
    font-size: 20px;
    background-color: springgreen;
  }

  .html2{
    background-color: burlywood;
  }

  .html3{
    background-color: cadetblue;
  }
